$white: #ffffff;
$black: #000000;
$main-color: #0B5FA5;
$main-disabled: #25547B;
$dark-blue: #043C6B;
$light-blue: #3F8FD2;
$lighter-blue: #66A1D2;

$mobile-width: 320px;
$tablet-width: 680px;
$desktop-width: 1200px;