@import 'styles/global/_variables.scss';
@import 'styles/global/_mixins.scss';

.ListBtnBlock {
  padding-top: rem(10);
  &__btn {
    position: relative;
    width: 100%;
    padding: 0 rem(20);

    font-size: rem(16);
    line-height: rem(50);
    border: none;
    background-color: transparent;
    text-align: left;
    opacity: 0.5;
    cursor: pointer;

    &::before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      display: block;
      transform: translateY(-50%);
    }

    &::before {
      left: rem(20);
      width: 16px;
      height: 16px;
      background-image: url("./icons/plus-icon.svg");
      background-repeat: no-repeat;
    }

    &::after {
      right: rem(20);
      width: 20px;
      height: 20px;
      background-image: url("./icons/list-icon.svg");
      background-repeat: no-repeat;
    }
  }

  &__text {
    padding-left: rem(30);
  }
}