@import 'styles/global/_variables.scss';
@import 'styles/global/_mixins.scss';

.NavBar {
  @include list-reset;
  padding-bottom: rem(10);
  border-bottom: 1px solid rgba(0,0,0,0.1);

  &__item {
    height: rem(50);
    margin-bottom: rem(2);
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 0 rem(20);
    color: $black;
    line-height: rem(50);
    transition: 0.3s;
    
    &:hover {
      background-color: rgba(63, 143, 210, 0.1);
    }

    svg {
      position: absolute;
    }
  }

  &__text {
    padding-left: rem(30);
  }
}